doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title msleuth
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css')

  body
    .container(style={width: '1380px', margin: 'auto', 'max-width': '100%', padding: '20px'})
      h1.is-size-1.has-text-centered.has-text-weight-semibold: a.button.is-ghost.is-large.is-primary(href='/') msleuth

      form.is-flex.is-justify-content-center.is-align-items-center
        label.label.is-small.is-flex.is-justify-content-center.is-align-items-center.is-3.mx-2 Action
          .select.mx-1: select(name='action')
            each a in ['identify', 'query']
              option(value=a selected=a === action)= a
        label.label.is-small.is-flex.is-justify-content-center.is-align-items-center.is-3.mx-2 Platform
          .select.mx-1: select(name='platform')
            if platforms
              each p in platforms
                option(value=p.name selected=p.name === platform)= p.name
        label.label.is-small.is-flex.is-justify-content-center.is-align-items-center.is-3.mx-2 Inputs
          input.mx-1.is-small.input(type='text', name='inputs' value=inputs)
        button.mb-2.button.is-link.is-small(type='submit') Submit

      if results && results.length > 0
        table.table.is-bordered.is-fullwidth
          thead
            tr
              th Libretro
              th Launchbox
          tbody
            each result in results
              tr
                td
                  if result.libretro
                    table.is-fullwidth: tbody
                      each field in ['id', 'name', 'platform', 'romName', 'md5', 'compactName', 'goodcodesBaseCompactName']
                        tr
                          td #{field}
                          td #{result.libretro[field]}
                      tr
                        td images
                        td
                          - const images = ['Boxart', 'Title', 'Snap'].map((type) => `https://cdn.jsdelivr.net/gh/libretro-thumbnails/${result.libretro.platform.replaceAll(' ', '_').replaceAll('MAME_2003-Plus', 'MAME')}/Named_${type}s/${result.libretro.name.replaceAll(/[&*/:`<>?\\]|\|"/g, '_')}.png`)
                          each image in images
                            a(href=image target='_blank' title=image): img(src=image, style='max-width: 100px; max-height: 100px; margin-right: 10px;')
                td
                  if result.launchbox
                    table.is-fullwidth: tbody
                      each field in ['databaseId', 'name', 'platform', 'publisher', 'developer', 'compactName', 'goodcodesBaseCompactName', 'releaseYear', 'releaseDate', 'genres', 'videoUrl']
                        tr
                          td #{field}
                          td #{result.launchbox[field]}
